apachekafka/src/main/mule/apachekafka.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:kafka="http://www.mulesoft.org/schema/mule/kafka"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/kafka http://www.mulesoft.org/schema/mule/kafka/current/mule-kafka.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
	<kafka:producer-config name="Apache_Kafka_Producer_configuration" doc:name="Apache Kafka Producer configuration" doc:id="43159083-cec7-444d-821d-936a7e4c92db" >
		<kafka:producer-plaintext-connection>
			<kafka:bootstrap-servers >
				<kafka:bootstrap-server value="localhost:9092" />
			</kafka:bootstrap-servers>
		</kafka:producer-plaintext-connection>
	</kafka:producer-config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="10660c09-42ae-4e8d-9622-25f31be29688" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<kafka:consumer-config name="Apache_Kafka_Consumer_configuration" doc:name="Apache Kafka Consumer configuration" doc:id="2c65ef46-7b54-4d8e-ac22-84c6a9fb9fe7" >
		<kafka:consumer-plaintext-connection groupId="test-consumer-group" >
			<kafka:bootstrap-servers >
				<kafka:bootstrap-server value="localhost:9092" />
			</kafka:bootstrap-servers>
			<kafka:topic-patterns >
				<kafka:topic-pattern value="MuleSoft" />
			</kafka:topic-patterns>
		</kafka:consumer-plaintext-connection>
	</kafka:consumer-config>
	<flow name="apachekafkaFlow" doc:id="64d3b9fa-0fe1-42f1-abbb-8530a8a94e9f" >
		<http:listener doc:name="Listener" doc:id="0b341b61-6dd9-4f42-8edb-f90b3d732742" config-ref="HTTP_Listener_config" path="/*"/>
		<logger level="INFO" doc:name="Logger" doc:id="bd76be69-d880-4a45-b381-3cab0b213525" message="Start"/>
		<kafka:publish doc:name="Publish" doc:id="4bdf211e-7fab-4554-a964-ec072d6951bc" config-ref="Apache_Kafka_Producer_configuration" topic="MuleSoft" partition="0">
			<kafka:message ><![CDATA[First Message]]></kafka:message>
		</kafka:publish>
	</flow>
	<flow name="apachekafkaFlow1" doc:id="01581d1d-d907-4b95-8031-23e8b2eb9ea9" >
		<kafka:message-listener doc:name="Message listener" doc:id="2baf0850-de52-4f2f-9299-c4749b6a41e8" config-ref="Apache_Kafka_Consumer_configuration"/>
		<logger level="INFO" doc:name="Logger" doc:id="589f6513-b737-452b-b4cc-b7368a73bea5" message="#[payload]"/>
	</flow>
</mule>
